.sign-in {
  margin: 50px auto;
  max-width: 600px;
  padding: 40px 20px;
  background: #f47920;
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 15px;
}
.sign-up p {
  flex: 1;
  color: #fff;
  font-size: 16px;
}
.sign-up form {
  flex: 1;
}
.sign-up form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: #ebecfe;
}
.input {
  display: block;
  width: 100%;
  background: #ebecfe;
  padding: 10px;
  border: 0;
  outline: 0;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-top: 5px;
  resize: none;
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}
.text-signup {
  margin-top: 10px;
  color: #ebecfe;
  font-size: 14px;
}
.text-signup span {
  color: blue;
  text-decoration: underline;
  font-size: 16px;
  margin-left: 10px;
}
